@font-face {
  font-family: "Italics";
  src: url("/fonts/ABCMarfa-SemiboldItalic-Trial.otf") format("opentype");
}
@font-face {
  font-family: "Bold";
  src: url("/fonts/ABCMarfa-Bold-Trial.otf") format("opentype");
}
@font-face {
  font-family: "Medium";
  src: url("/fonts/ABCMarfa-Light-Trial.otf") format("opentype");
}

:root {
  /* font families */
  --font-family-1: "Medium", sans-serif;
  --font-family-2: "Italics", sans-serif;

  /* primitives */
  --color-blackdark: hsla(40, 30%, 4%, 1);
  --color-blacklight: hsla(0, 0%, 20%, 0.05);
  --color-brightwhite: #f7f6f7;
  --color-motion: hsla(358, 79%, 70%, 1);
  --color-ui: hsla(124, 38%, 44%, 1);
  --color-info: #4b88be;
  --color-graphics: hsla(47, 87%, 60%, 1);

  /* Tokenized colors */
  --color-fg: var(--color-blackdark);
  --color-bg: var(--color-brightwhite);
  --color-header: var(--color-blacklight);

  /* BORDERS */
  --border-width: 1.5px;

  /* TEXT STROKE */
  --text-stroke: 0.8px;
}

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  font-size: 16px;
}

header {
  z-index: 3;
  letter-spacing: 3px;
  font-family: "Bold", sans-serif;
  font-size: 1.2rem;
  -webkit-text-stroke: 1.25px var(--color-info);
  text-stroke: 1.25px var(--color-info);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  /* color: var(--color-graphics); */
  position: fixed;
  top: 0;
  display: inline-flex;
  padding: 0 75px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-header);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  min-width: 100vw;
  min-height: 7.5vh;
  border-bottom: 1.5px solid var(--color-info);
}

.return-icon {
  margin-top: 7.5px;
  transform: scale(1.05);
  fill: var(--color-info);
}

/* FRAME */

.frame {
  min-width: 35vw;
  aspect-ratio: 4 / 5;
  max-height: calc(35vw * 5 / 4);
  /* border: 1.5px solid red; */
  display: flex;
  flex-wrap: wrap;
  margin: 15vh auto 0 auto;
  /* margin-top: 17.5vh; */
}

.panels {
  position: relative;
  min-width: 50%;
  min-height: 50%;
  border-style: solid;
  border-color: var(--color-info);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/* FRAME BORDERS, PADDING & TEXT */
#clients-container {
  border-width: var(--border-width) var(--border-width) var(--border-width) 0;
  padding-right: 2.5%;
  padding-bottom: 2.5%;
  text-align: right;
  color: var(--color-motion);
  display: flex;
  justify-content: flex-end;
}
#software-container {
  border-width: var(--border-width) 0 var(--border-width);
  padding: 2.5% 0 2.5% 2.5%;
  text-align: left;
  color: var(--color-graphics);
  display: flex;
  justify-content: flex-end;
}
#contact-container {
  padding: 2.5% 2.5% 2.5% 0;
  text-align: right;
  color: var(--color-ui);
  border-width: 0 var(--border-width) var(--border-width) 0;
}
#picture-container {
  border-width: 0 0 var(--border-width) 0;
}

.gifcontainer {
  width: 175px;
  height: 175px;
  margin: 4.5% 0 0 4.5%;
  border-radius: 100%;
  border: 5px solid var(--color-graphics);
  background-image: url("/video/Beach.gif");
  background-size: 110%;
  background-position-x: 15%;

  background-repeat: no-repeat;
}

/* TEXT CSS */
h2.text {
  vertical-align: middle;
  font-family: "Medium", sans-serif;
  font-size: 1.05rem;
  font-style: normal;
  line-height: 1.75rem;
  letter-spacing: 0.125rem;
}

a.clients{
  text-decoration: none;
  color: var(--color-motion);
}
a.software{
  text-decoration: none;
  color: var(--color-graphics);
}
a.contact{
  text-decoration: none;
  color: var(--color-ui);
}

div h1 {
  letter-spacing: 1.25px;
  font-family: "Bold", sans-serif;
  font-size: 1.75rem;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

h1#select {
  -webkit-text-stroke: var(--text-stroke) var(--color-motion);
  text-stroke: var(--text-stroke) var(--color-motion);
}

h1#software {
  -webkit-text-stroke: var(--text-stroke) var(--color-graphics);
  text-stroke: var(--text-stroke) var(--color-graphics);
}
h1#contact {
  -webkit-text-stroke: var(--text-stroke) var(--color-ui);
  text-stroke: var(--text-stroke) var(--color-ui);
}
