@font-face {
  font-family: 'Light1';
  src: url('/fonts/ABCMarfa-Light') format('opentype');
}
@font-face {
  font-family: 'Medium';
  src: url('/fonts/ABCMarfa-Light') format('opentype');
}
@font-face {
  font-family: 'Light';
  src: url('/fonts/ABCMarfa-Thin.otf') format('opentype');
}

:root {
  /* font families */
  --font-family-1: 'Light', sans-serif;
  --font-family-2: 'Italics', sans-serif;

  /* primitives */
  --color-blackdark: hsla(40, 30%, 4%, 1);
  --color-brightwhite: #F7F6F7;
  --color-motion: #4b88be;
  --color-ui: #32ae3b;
  --color-composites: #FC7753;
  --color-graphics: #f2cb40;

  /* Tokenized colors */
  --color-fg: var(--color-blackdark);
  --color-bg: var(--color-brightwhite);
}

/* Global styles */
html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 1.5rem; */
}

body {
  background-color: var(--color-blackdark);
  width: 65vw;
 
  margin: auto;
}

h1 {
  font-family: var(--font-family-1);
  font-size: .8rem;
  letter-spacing: 3.75px;
  line-height: 2.25;
  color: var(--color-brightwhite);
  position: relative;
  padding-top: 20vh;
  padding-bottom: 3vh;
  text-align: center;
  letter-spacing: .6rem;
}

.image {
  height: 6.5vh;
  border-width: 1.5px 0;
  border-style: solid;
  border-color: var(--color-brightwhite);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 20%;
  padding: 2vh 0;
  
}

.selfie {
  height: 40%;
  width: 30%;
  border-radius: 50%;
}

.links{
  /* border: 2px solid red; */
  padding-top: 2vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5vw;
}
/* Links */
a {
  text-decoration: none;
  font-family: var(--font-family-1);
  font-size: 1rem;
  color: var(--color-brightwhite);
  letter-spacing: 15px;
}

/* Small desktop breakpoint */
@media (max-width: 1300px) {
  body {
    line-height: 1.4;
    width: 75vw;
  }
  h1 {
    font-family: var(--font-family-1);
    font-size: .8rem;
    letter-spacing: 3.75px;
    line-height: 2.25;
    color: var(--color-brightwhite);
    position: relative;
    padding-top: 20vh;
    padding-bottom: 2vh;
    text-align: center;
    letter-spacing: .6rem;
  }
 

 

  .menu {
    min-height: 5vh;
  }
}

/* MOBILE BREAKPOINT */
@media (min-width: 300px) and (max-width: 900px) {
  body {
    font-family: "Light1", sans-serif;
  }
  
  header {
    position: relative;
    font-size: 1.5em;
    padding-top: 10vh;
    padding-bottom: .5vh;
    color: var(--color-brightwhite);
  }
  
  h1 {
      position: relative;
    /* font-size: 1.5em; */
    /* padding-top: 2vh; */
    padding-bottom: .8vh;
    color: var(--color-brightwhite);
    line-height: 2;
    font-size: .45em;
    letter-spacing: 3px;
    max-width: 100%;
    padding-top: 0;
  }
  
  a {
    font-size: .75em;
  }

  .links{
    padding-top: 3vh;
    flex-direction: column;
    gap: 5vh;
  }

  .selfie {
    height: 80%;
    width: 100%;
    border-radius: 50%;
  }
  
  .menu {
    padding: 1vh 0;
    flex-direction: column;
    align-items: flex-start;
    min-height: 5vh;
    gap: 1.25vh;
    border-color: var(--color-brightwhite);
  }
}
