@font-face {
  font-family: "Italics";
  src: url("/fonts/ABCMarfa-SemiboldItalic-Trial.otf") format("opentype");
}
@font-face {
  font-family: "Bold";
  src: url("/fonts/ABCMarfa-Bold-Trial.otf") format("opentype");
}
@font-face {
  font-family: "Medium";
  src: url("/fonts/ABCMarfa-Light-Trial.otf") format("opentype");
}

:root {
  /* font families */
  --font-family-1: "Medium", sans-serif;
  --font-family-2: "Italics", sans-serif;

  /* primitives */
  --color-blackdark: hsla(40, 30%, 4%, 1);
  --color-blacklight: hsla(0, 0%, 20%, 0.05);
  --color-brightwhite: #F7F6F7;
  --color-motion: hsla(358, 79%, 70%, 1);
  --color-ui: hsla(124, 38%, 44%, 1);
  --color-composites: hsla(208, 47%, 52%, 1);
  --color-graphics: #f4c82a;

  /* Tokenized colors */
  --color-fg: var(--color-blackdark);
  --color-bg: var(--color-brightwhite);
  --color-header: var(--color-blacklight);
}

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 1.25;
}

main {
  background-color: var(--color-bg);
  color: var(--color-bg);
  /* border: 2px solid red; */
  font-family: "Medium", sans-serif;
  margin: auto;
}

header {
  z-index: 3;
  letter-spacing: 3px;
  font-family: "Bold", sans-serif;
  font-size: 1.2rem;
  -webkit-text-stroke: 1.25px var(--color-graphics);
  text-stroke: 1.25px var(--color-graphics);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  /* color: var(--color-graphics); */
  position: fixed;
  top: 0;
  display: inline-flex;
  padding: 0 75px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-header);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  min-width: 100vw;
  min-height: 7.5vh;
  border-bottom: 1.5px solid var(--color-graphics);
}


.return-icon {
  margin-top: 7.5px;
  transform: scale(1.05);
  fill: var(
    --color-graphics
  );
}



.scroll-container {
  border: 2px solid transparent;
  max-width: 90vw;
  /* min-height: 100vh; */
margin: 9vh auto 5vh auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2%;
  gap: 2.5vw;
align-items: center;
  justify-content: space-evenly;
}

.panel {
  position: relative;
 width: 35vw;
  height: 45vw;
  border: 1.5px solid var(--color-graphics);
  border-radius: 8px 8px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  padding-top: 5%;
}

.panel img {
  max-width: 90%;
  max-height: 90%;
}

h2 {
  position: absolute;
  top: 2.5%;
  font-family: "Italics", sans-serif;
  font-size: 1rem;
  letter-spacing: 4px;
  text-align: center;
  padding-bottom: 2.5%;
  color: var(--color-graphics);
  border-bottom: 1.5px solid var(--color-graphics);
  min-width: 100%;
}


  /* SMALL DESKTOP BREAKPOINT */

  @media (max-width: 1200px) {
    header{
      font-size: 1rem;
      letter-spacing: 2.5px;
      -webkit-text-stroke: 1.25px var(--color-graphics);
      text-stroke: 1.25px var(--color-graphics);
    }
  

    .return-icon{
      transform: scale(0.85);
    }

    main{
      max-width: 75vw;
    }
    .scroll-container{
      flex-direction: column;
      gap: 6vh;
      padding-top: 3.5vh;
    }
    
    .panel {
      position: relative;
      width: 100%;
      height: 75vh;
      border: 1.5px solid var(--color-graphics);
      border-radius: 8px 8px 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2vh;
      padding-top:7%;
    }
    
        h2{
          font-size: 1.12em;
          letter-spacing: 4px;
        }
    
    }


    
    
    /* MOBILE BREKAPOINT */
    
    @media (min-width: 300px) and (max-width: 770px) {
     
      main{
        max-width: 90vw;
      }
     header{
      font-size: .75rem;
      letter-spacing: 1.5px;
      padding: 0 4vw;
      -webkit-text-stroke: 1px var(--color-graphics);
      text-stroke: 1px var(--color-graphics);
     }

    
     .return-icon{
      transform: scale(.85);
    }
    
    .scroll-container{
      flex-direction: column;
  gap: 4.5vh;
  margin-top: 7.5vh;
  padding-top: 4.5vh;
  padding-bottom: 2vh
    }
    
    h2{
      top: 1.5vh;
      min-height: 4vh;
      font-family: 'Medium', sans-serif;
      font-size: .9rem;
      letter-spacing: 3px;
      padding-bottom: 1.5vh;
    }

    .panel{
      height: 100%;
      width: 100%;
      padding-top: 18%;
      padding-bottom: 5%;
      justify-content: space-around;
      text-align: center;
     }
    .panel.baseball{
      height: 80vh;
      width: 100%;
      padding-top: 18%;
      padding-bottom: 5%;
      justify-content: space-around;
      text-align: center;
     }

     .panel img.presspass {
      max-width: 100%;
      max-height: 100%;
    }
    
    }
