@font-face {
    font-family: "Italics";
    src: url("/fonts/ABCMarfa-SemiboldItalic-Trial.otf") format("opentype");
  }
  @font-face {
    font-family: "Bold";
    src: url("/fonts/ABCMarfa-Bold-Trial.otf") format("opentype");
  }

  @font-face {
    font-family: "Medium";
    src: url("/fonts/ABCMarfa-Light-Trial.otf") format("opentype");
  }
  
  :root {
    /* font families */
    --font-family-1: "Medium", sans-serif;
    --font-family-2: "Italics", sans-serif;
  
    /* primitives */
    --color-blackdark: #0d0b07;
    --color-blacklight: hsla(0, 0%, 20%, 0.05);
    --color-blacklight2: hsla(0, 0%, 20%, 0.15);
    --color-brightwhite: #f7f6f7;
    --color-motion: hsla(358, 79%, 70%, 1);
    --color-ui: #469b4b;
    --color-uivideo: hsla(124, 38%, 44%, .15);
    --color-composites: hsla(208, 47%, 52%, 1);
    --color-graphics: hsla(47, 87%, 60%, 1);
  
    /* Tokenized colors */
    --color-fg: var(--color-blackdark);
    --color-bg: var(--color-brightwhite);
    --color-header: var(--color-blacklight);
    --color-video: var(--color-blacklight2);
  }
  
  html,
  body,
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--color-bg);
    font-size: 16px;
  }
  
  header {
    z-index: 3;
    letter-spacing: 3px;
    font-family: "Bold", sans-serif;
    font-size: 1.2rem;
    -webkit-text-stroke: 1.25px var(--color-ui);
    text-stroke: 1.25px var(--color-ui);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    /* color: var(--color-graphics); */
    position: fixed;
    top: 0;
    display: inline-flex;
    padding: 0 75px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-header);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    min-width: 100vw;
    min-height: 7.5vh;
    border-bottom: 1.5px solid var(--color-ui);
  }

  .return-icon {
    margin-top: 7.5px;
    transform: scale(1.05);
    fill: var(
      --color-ui
    );
  }

  main {
    background-color: var(--color-bg);
    color: var(--color-bg);
    /* border: 2px solid red; */
    font-family: "Medium", sans-serif;
    margin: auto;
  }

  .scroll-container{
    border: 2px solid transparent;
    max-width: 90vw;
    /* min-height: 100vh; */
  margin: 7.5vh auto 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2%;
    padding-bottom: 4%;
    gap: 2.5vw;
  align-items: center;
    justify-content: space-evenly;
  }
 
.panel{
  position: relative;
  width: 35vw;
   height: 45vw;
   border: 1.5px solid var(--color-ui);
   border-radius: 8px 8px 0 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 2vh;
   padding-top: 5%;
}
.panel.laptop{
  position: relative;
  min-width: 78.5vw;
   /* height: 45vw; */
   border: 1.5px solid var(--color-ui);
   border-radius: 8px 8px 0 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 2vh;
   padding-top: 5%;
}


h2 {
  position: absolute;
  top: 2.5%;
  font-family: "Italics", sans-serif;
  font-size: 1rem;
  letter-spacing: 4px;
  text-align: center;
  padding-bottom: 2.5%;
  color: var(--color-ui);
  border-bottom: 1.5px solid var(--color-ui);
  min-width: 100%;
  }
.laptop-h2 {
  position: absolute;
  top: 2.5%;
  font-family: "Italics", sans-serif;
  font-size: 1rem;
  letter-spacing: 4px;
  text-align: center;
  padding-bottom: 1.5%;
  color: var(--color-ui);
  border-bottom: 1.5px solid var(--color-ui);
  min-width: 100%;
  }

  video{
    min-width: 100%;
    max-height: 100%;
    /* border: 2px solid red; */
  }
  


/* VIDEO CONTROLS */

video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display {
  font-family: "italics" !important;
  font-size: 0.85rem !important;
  letter-spacing: 2.5px;
}

video::-webkit-media-controls-play-button {
  transform: scale(1.5) !important;
}

video::-webkit-media-controls-panel {
    background: linear-gradient(
      to top,
      var(--color-uivideo),
      transparent 20%
    ) !important;
  }

  /* SMALL DESKTOP BREAKPOINT */

@media (max-width: 1200px) {
header{
  font-size: 1rem;
  letter-spacing: 2.5px;
}

.return-icon{
  transform: scale(0.85);
}

h2{
  font-size: 1.12rem;
      letter-spacing: 4.5px;
}
.laptop-h2{
  font-size: 1.12rem;
      letter-spacing: 4.5px;
}
.scroll-container{
  flex-direction: column;
  gap: 6vh;
  padding-top: 3.5vh;
}

.panel{
 min-height: 85vh;
 min-width: 90vw;
}

.panel.laptop{
  position: relative;
  min-width: 100%;
  /* max-height: 45vw; */
  min-height: calc(5/7 * 90vw);
   border: 1.5px solid var(--color-ui);
   border-radius: 8px 8px 0 0;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   gap: 2vh;
   padding-top: 5%;
}

.panel.laptop video{
  max-width: 65%;
}

}


/* MOBILE BREKAPOINT */

@media (min-width: 300px) and (max-width: 770px) {
 header{
  font-size: 1.25rem;
  letter-spacing: 2.5px;
  padding: 0 4vw;
}

.return-icon{
  transform: scale(.85);
}

h2{
  /* top: 2.5%;
  padding-bottom: 3.5%; */
  min-height: 4vh;
  font-family: 'Medium', sans-serif;
  font-size: .9rem;
  letter-spacing: 3px;
  
}
.laptop-h2{
  /* top: 2vh; */
  min-height: 3.5vh;
  /* text-align: middle; */
  font-family: 'Medium', sans-serif;
  font-size: .9rem;
      letter-spacing: 3px;
}
.scroll-container{
  flex-direction: column;
  gap: 5vh;
  padding-top: 5vh;
}

.panel{
 min-height: 67.5vh;
 max-width: 100%;
 padding-top: 10.5%;
 justify-content: flex-end;
 text-align: center;
}

.panel.laptop{
  position: relative;
  min-width: 100%;
  /* max-height: 45vw; */
  min-height: calc(5/7 * 90vw);
   border: 1.5px solid var(--color-ui);
   border-radius: 8px 8px 0 0;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   gap: 2vh;
   padding-top: 5%;
}

.panel video{
  max-width: 100%;
}
.panel.laptop video{
  max-width: 65%;
}


}

  



  